<div fxLayout="column" fxLayoutGap="10px">
  @if (phase === 'selection') {
    <div fxLayout="column" fxLayoutGap="10px">
      <div>{{ 'SIMULATOR.SOLVER.Select_actions_hint' | translate }}</div>

      @for (category of categories; track category.titleKey) {
        <div fxLayout="column" fxLayoutGap="5px">
          <h4>{{ category.titleKey | translate }}</h4>
          <div fxLayout="row wrap" fxLayoutGap="10px">
            @for (action of category.actions; track action.getIds()[0]) {
              <div class="action-toggle"
                    [class.locked]="isLevelLocked(action)"
                    (click)="toggleAction(action)">
                <app-action
                    [action]="action"
                    [hideCost]="true"
                    [disabled]="isLevelLocked(action)"
                    [safe]="isEnabled(action) || isLevelLocked(action)"
                    [ignoreDisabled]="false"
                    [tooltipDisabled]="false"></app-action>
                @if (isEnabled(action) && !isLevelLocked(action)) {
                  <i nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'" class="toggle-icon"></i>
                }
              </div>
            }
          </div>
        </div>
      }

      <button (click)="startSolving()" nz-button nzType="primary" nzBlock>
        {{ 'SIMULATOR.SOLVER.Start' | translate }}
      </button>
    </div>
  }
</div>